<div class="row mt-4 mb-4 justify-content-center br-2 rounded-pill">
    <div class="col-md-8">
        <div class="card border-success mb-3">
            <div class="card-header text-center">
                <span class="fs-4 text-success">Quiz Game</span>
            </div>
            <div class="card-body text-success">
                <h4 class="fs-3 text-center">Submition Success</h4>
            </div>
            <hr>
            <div class="text-center">
                <button (click)="viewResult()" type="submit" class="btn btn-outline-success rounded-pill w-1 mb-4">Result</button>
            </div>
        </div>
    </div>
</div>