<div class="row mt-4 justify-content-center br-2 rounded-pill">
    <div class="col-md-8">
        <div class="card p-4">
            <div class="card-body">
                <form [formGroup]="startGameFormGroup" (ngSubmit)="getQuesList()">
                    <img src="https://media.licdn.com/media/AAYQAQSZAAgAAQAAAAAAABPIj0yNMKrJR96eOuPB_YDI0A.png"
                        alt="demo image" width="50">
                    <h3 class="card-title mt-2">Quiz Game</h3>
                    <hr>
                    <div class="alert alert-success" role="alert" *ngIf="successMessage">
                        {{ successMessage }}
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                        {{ errorMessage }}
                    </div>
                    <div class="row" formGroupName="quizFilterObj">
                        <div class="col-md-12">
                            <label for="">Game Participate Name</label>
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                        <div class="col-md-4">
                            <label for="">Question Count</label>
                            <input type="text" class="form-control" formControlName="count">
                        </div>
                        <div class="col-md-4">
                            <label for="">Difficulty Lebel</label>
                            <select class="form-select" formControlName="quesLevel">
                                <option selected disabled>choose...</option>
                                <option value="1">Easy</option>
                                <option value="2">Medium</option>
                                <option value="3">Hard</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="">Topic</label>
                            <select class="form-select" formControlName="topicId">
                                <option selected disabled>choose...</option>
                                <option *ngFor="let tempTopic of topicList" value="{{ tempTopic.id }}">{{
                                    tempTopic.topicName }}</option>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <h4>Before you start</h4>
                    <ul>
                        <li>You must complete the game using one session — otherwise you lose your current game value.
                        </li>
                        <li>Make sure your internet is reliable.</li>
                    </ul>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Language: English</p>
                        </div>
                        <div class="col-md-8 text-end">
                            <button type="submit" class="btn btn-primary rounded-pill w-1">Start</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>