<nav class="navbar navbar-expand-lg navbar-light border-bottom" style="background-color: #e3f2fd;">
    <div class="container">
        <a class="navbar-brand" href="#">Quiz Game</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <div class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link me-3" aria-current="page" routerLink="/start-quiz" routerLinkActive="active"><i class="fas fa-home me-2"></i>Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" routerLink="/quiz/add-question" routerLinkActive="active"><i class="fas fa-folder-plus me-2"></i>Add Question</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>