<div class="row mt-4 mb-4 justify-content-center br-2 rounded-pill">
    <div class="col-md-8">
        <div class="card border-success mb-3">
            <div class="card-header text-center">
                <span class="fs-4 text-success">Quiz Game</span>
            </div>
            <div class="card-body text-success">
                <p class="text-center fs-5">Total Questions: <span>{{ resultItems.totalQues }}</span></p> 
                <p class="text-center fs-5">Total Right Answer: <span>{{ resultItems.correctAnswer }}</span></p> 
                <p class="text-center fs-5 text-danger">Total Wrong Answer: <span>{{ resultItems.totalQues - resultItems.correctAnswer}}</span></p> 
                <br>
                <h3 class="text-center">Score is: <span>{{ resultItems.correctAnswer }}</span></h3>
            </div>
            <hr>
            <div class="text-center">
                <button type="submit" routerLink="/start-quiz" class="btn btn-outline-success rounded-pill w-1 mb-4">Again Play</button>
            </div>
        </div>
    </div>
</div>