<div class="row mt-4 mb-4 justify-content-center br-2 rounded-pill">
    <div class="col-md-8">
        <form [formGroup]="questionListFormGroup" (change)="submit()">
            <div class="card">
                <div class="card-header text-center">
                    <span class="fs-4">{{ topic.topicName }} Quiz Game</span>
                </div>
                <div class="card-body p-4" *ngFor="let tempQues of quesList" formGroupName="saveAnsObj">
                    <div>
                        <p class="card-text fs-5 fw-bold">{{ tempQues.questionName }}</p>
                    </div>
                    <hr>
                    <span *ngIf="tempQues.questionText">
                        <p class="card-text fs-6">
                            {{ tempQues.questionText }}
                        </p>
                        <hr>
                    </span>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1" formControlName="selectAnswer" (click)="getAns(tempQues.optionEntity.correctAnswer)">
                        <label class="form-check-label" for="flexRadioDefault">
                            {{ tempQues.optionEntity.answerNo1 }}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="2" formControlName="selectAnswer" (click)="getAns(tempQues.optionEntity.correctAnswer)">
                        <label class="form-check-label" for="flexRadioDefault">
                            {{ tempQues.optionEntity.answerNo2 }}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="3" formControlName="selectAnswer" (click)="getAns(tempQues.optionEntity.correctAnswer)">
                        <label class="form-check-label" for="flexRadioDefault}">
                            {{ tempQues.optionEntity.answerNo3 }}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="4" formControlName="selectAnswer" (click)="getAns(tempQues.optionEntity.correctAnswer)">
                        <label class="form-check-label" for="flexRadioDefault">
                            {{ tempQues.optionEntity.answerNo4 }}
                        </label>
                    </div>
                </div>
                <hr>
                <div class="text-center">
                    <button (click)="saveResult()" type="submit" class="btn btn-outline-success rounded-pill w-1 mb-4">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>