<div class="row mt-4 justify-content-center br-2 rounded-pill">
    <div class="col-md-8">
        <div class="card p-4">
            <div class="card-body">
                <h4>Add Question and Answer</h4>
                <hr>
                <form [formGroup]="saveQuesAnsFormGroup" (ngSubmit)="saveQuesAns()">
                    <div class="alert alert-success" role="alert" *ngIf="successMessage">
                        {{ successMessage }}
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                        {{ errorMessage }}
                    </div>
                    <div class="row" formGroupName="saveQuesAnsObj">
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label for="floatingInput">Question</label>
                                <input type="text" class="form-control" formControlName="questionName">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label for="floatingInput">Question Text</label>
                                <!-- <textarea type="text" class="form-control" formControlName="questionText"></textarea> -->
                                <div class="form-group">
                                    <textarea class="form-control" id="editor"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label for="floatingInput">Topic Name</label>
                                <select class="form-select" formControlName="topicNo">
                                    <option [selected]=true disabled>choose...</option>
                                    <option value="1">Java</option>
                                    <option value="2">Python</option>
                                    <option value="3">Angular</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label for="floatingInput">Defficulty</label>
                                <select class="form-select" formControlName="questionLevel">
                                    <option [selected]=true disabled>choose...</option>
                                    <option value="1">Easy</option>
                                    <option value="2">Medium</option>
                                    <option value="3">Hard</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" formGroupName="optionObj">
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label for="floatingInput">Option No 1</label>
                                <textarea type="text" class="form-control" formControlName="answerNo1"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label for="floatingInput">Option No 2</label>
                                <textarea type="text" class="form-control" formControlName="answerNo2"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label for="floatingInput">Option No 3</label>
                                <textarea type="text" class="form-control" formControlName="answerNo3"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label for="floatingInput">Option No 4</label>
                                <textarea type="text" class="form-control" formControlName="answerNo4"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label for="floatingInput">Correct Answer</label>
                                <select class="form-select" formControlName="correctAnswer">
                                    <option [selected]=true disabled>choose...</option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                    <option value="3">Option 4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center">
                            <button type="submit" class="btn btn-outline-primary rounded-pill w-1">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>